<div class="well">
  <div class="row-fluid">
    <div class="span12">
      <center><%= image_tag 'signup/brand.png' %></center>
    </div>
  </div>
  <div class="row-fluid" style="margin-top:50px;">
    <div class="span12">
      <h4 class="text-center">You Rock! You're Account Is Created And You're Almost Done..</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset3">
      <ol>
				<h4><li>Check Your Email To Activate Your Account</li></h4>
				<h4><li>Login @<span id="linktag"><%= link_to "www.mybyteapp.com/login", new_user_session_path %></span></li></h4>
			</ol>
    </div>
  </div>

	<div class="row-fluid top10" style="margin-top:60px;">
		<div class="span6 offset3">
			<h4 class="text-center">Don't Be Shy! We Like New Friends :-)</h4>
		</div>
	</div>
  <!-- status bar -->
  <div class="row-fluid ">
    <div class="span4 offset4">
    	<div class="span4">
      	<center><a href="clkg/http/www.facebook.com/thebyteapp" target="_black"><%= image_tag 'signup/facebook.png' %></a></center>
      </div>
      <div class="span4">
      	<center><a href="clkg/http/www.twitter.com/thebyteapp" target="_black"><%= image_tag 'signup/twitter.png' %></a></center>
      </div>
      <div class="span4">
      	<center><a href="clkg/http/instagram.com/thebyteapp" target="_black"><%= image_tag 'signup/instagram.png' %></center></a>
      </div>
    </div>
  </div>  
  <!-- end of status bar -->
</div>

