<div class="well">
  <div class="row-fluid">
    <div class="span12">
      <center><%= image_tag 'signup/brand.png' %></center>
    </div>
  </div>

  <!-- star form -->
  <%= form_for(resource, :url => wizard_path, method: :put, :html => {:autocomplete => "off"}) do |f| %>

  <div class="row-fluid">
    <div class="span3">
      <div class="children credit_card">
        <center><%= link_to (image_tag 'signup/left_btn.png'), previous_wizard_path %></center>
      </div>
    </div>
    <div class="span6">
      <%
        if !session["move_location_id"].blank?
          @location = Location.find(session["move_location_id"])
        end
      %>

      <%= render 'shared/error_messages', :object => resource %>
      <% if !@braintree_errors.nil? %>
        <%= render 'shared/braintree_error_messages' %>
      <% end %>
      <%= f.hidden_field :app_service_id %>
      <%= f.hidden_field :skip_zip_validation, value: 1 %>
  
      <div style="display: <%= session["move_location_id"].blank? ? 'block' : 'none' %>;">
        
        <!-- Credit Card Info -->
        <div class="row-fluid top10">
          <div class="span12">
            <%= f.text_field :credit_card_holder_name, :placeholder => "Card Holder Name", :class=>"input-block-level" %>
            <%= f.text_field :credit_card_number, :placeholder => "Card Number", :class=>"input-block-level" %>
          </div>
        </div>
        <div class="row-fluid top10">
          <div class="span4">
            <%= f.text_field :credit_card_expiration_date, :placeholder => "Exp (MM/YY)", :class=>"input-block-level" %>
          </div>
          <div class="span4">
            <%= f.text_field :credit_card_cvv, :placeholder=>"CVV",:class=>"input-block-level" %>
          </div>
          <div class="span4">
            <%= f.select(:credit_card_type, options_for_select(CARD_TYPES, f.object.credit_card_type), { :include_blank => "Card Type"}, :class => "span12 input-block-level")  %>
          </div>
        </div>

        <!-- Billing Address -->
        <div class="row-fluid top10">
          <div class="span12">
            <%= f.check_box :autofill %> Billing Address The Same As The Restaurnat Address
            <%= hidden_field_tag 'sameAddr' %>
          </div>
        </div>

        <div id="billing_address_wrapper">
          <div class="row-fluid top10">
            <div class="span12">
              <%= f.text_field :billing_address, :placeholder=>"Billing Address",:class=>"input-block-level" %>
            </div>
          </div>

          <div class="row-fluid top10">
            <div class="span4">
              <%= f.select(:state, options_from_collection_for_select(State.all, 'name', 'name'), {:prompt=>"Select State"}, :class => "span12") %>
             <% previous_billing_state = f.object.billing_state %>
            </div>
             <div class="span4">
            <%= f.text_field :billing_city, :placeholder=>"City",:class=>"input-block-level" %>
              <% previous_billing_city = f.object.city %>
            </div>
            <div class="span4">
              <%= f.text_field :billing_zip, :placeholder=>"Zip",:class=>"input-block-level",:maxlength => 5 %>
            </div>
          </div>
        </div>

      </div>

      <div class="row-fluid top10" style="margin-top:20px;">
        <div class="span12">
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="children credit_card">
        <center><%= image_submit_tag 'signup/create_account.png' %></center>
      </div>
    </div>
  </div>

  <% end %>    
  <!-- end of form -->

  <!-- status bar -->
  <div class="row-fluid">
    <div class="span12">
      <center><%= image_tag 'signup/status_5.png' %></center>
    </div>
  </div>  
  <!-- end of status bar -->

</div>
