<%
  is_my_communication = true
  bread_crum = ''
  unless @restaurant.nil?
    bread_crum = '<div class="bread-crum">' + link_to(@restaurant.name, restaurants_path) + '&nbsp;&nbsp;<small>>></small>&nbsp;&nbsp;' +
        link_to('Communications',communications_restaurant_notification_index_path(@restaurant)) + '</div>'
    action_search = communications_restaurant_notification_index_path()
  else
    action_search = communications_notification_index_path()
  end
%>

<%= bread_crum.html_safe %>

<div class="searchHolder">
  <%= form_tag action_search, :class => "span12" do %>
    <div class="row-fluid">
      <div class="span5">
        <%= text_field_tag :search,  @search_params, :class=>"input-block-level", :placeholder=>"Search", :autocomplete => 'off' %>
      </div>
      <%= submit_tag "Submit", :class => "btnSearch",:title=>"Go", :value => '' %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<% unless @restaurant.nil? %>
  <div class="row-fluid floatleft" style="width:80%;">
    <div class="span3">
      <input type="checkbox" id="weekly_report_cb" <%= @restaurant.weekly_progress_report ? "checked":"" %>> Weekly Progress Report
    </div>
    <div class="span3">
      <input type="text" placeholder="Alert Email Adddress" style="width:100%" id="weekly_report_email" value="<%= @restaurant.weekly_progress_email %>">
    </div>
    <div class="span3">
      <a href="#" class="btn btn-primary" id="weekly_report_send">Send Now</a>
    </div>
  </div>
  <%= link_to "Send a Message" ,{:controller=>"notification",:action=>"groupmessage" ,:restaurant=>@restaurant.id ,:alert=>'GM'},:class=>"btn btn-primary new-message span2 floatright"%>
  <% is_my_communication = false %>
<% end %>
<div class="clear"></div>
<div class='communicationWrapper'>
<table id="myTable" class="table table-striped table-hover">
  <thead>
      <tr class="success">
        <th class="image-arrows-user">
        UserID
         <%= image_tag 'arrows.png', :class=>'user-sort hide' %>
        </th>
         <th class="image-arrows-receipt">
         Receipt
          <%= image_tag 'arrows.png',:class=>'receipt-sort hide' %>
        </th>
        <th class="image-arrows-message">
          Message Type
           <%= image_tag 'arrows.png', :class=>'message-sort hide' %>
        </th>
        <th class="image-arrows-product">
          Product Rating
          <%= image_tag 'arrows.png', :class=>'product-sort hide' %>
        </th>
        <th class="image-arrows-date">
          Date
          <%= image_tag 'arrows.png', :class=>'date-sort hide' %>
        </th>
        <th>
          Time
        </th>
        <th>
          Action
        </th>
      </tr>
  </thead>
  <tbody>
  <%
    if !@notifications.blank?
      is_mycommunication_of_owner = false
      is_mycommunication_of_admin = false
      current_restaurant_id = 0
      unless @current_restaurant.nil? && @current_restaurant != 0
        current_restaurant_id = @current_restaurant
      else
        if current_user.admin?
          is_mycommunication_of_admin =true
        else
          is_mycommunication_of_owner = true
        end
      end
      @notifications.each do |notification|
        if @restaurant.nil?
          @restaurant = Location.find(notification.location_id)
        end
        @user = User.find_by_id(notification.from_user)
        ratingGrade = ""
        if notification.alert_type =='Rating' && !notification.item_comment_id.nil?
            item_comment = ItemComment.find(:first, :conditions => ['user_id = ? and id = ?', notification.from_user,notification.item_comment_id])
          value = ''
          value = item_comment.rating unless item_comment.nil?

          ratingGrade = ""
          if value == '' || value == -1 || value.nil?
            ratingGrade =' '
          else
          score = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F']
          ratingGrade=score[item_comment.rating.to_i - 1]
          end
        end

        if notification.alert_type =='Restaurant Rating' && !notification.location_comment_id.nil?
            location_comment = LocationComment.find(:first, :conditions => ['user_id = ? and id = ?', notification.from_user,notification.location_comment_id])
          value = ''
          value = location_comment.rating unless location_comment.nil?

          if value == '' || value == -1 || value.nil?
            ratingGrade =' '
          else
          score = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F']
          ratingGrade=score[location_comment.rating.to_i - 1]
          end
        end
  %>
  <% unless @user.nil? %>
    <tr>
      <td>
        <% sent_from = User.find(notification.from_user) %>
        <% if (notification.sent?(current_user, current_restaurant_id) && notification.location_id == current_restaurant_id) || (is_mycommunication_of_owner && (current_user.id == notification.from_user || current_user.sub_users.include?(User.find(notification.from_user)))) \
          || ((sent_from.restaurant_manager? || sent_from.owner?) && is_mycommunication_of_admin) %>
          <%= image_tag 'email_outbox.png' %>
        <% else %>
          <%= image_tag 'email_inbox.png' %>
        <% end %>
        <%= link_to @user.username.to_s, usercommunicationsrating_restaurant_notification_path(@restaurant, notification), class: 'user-id' %>
      </td>
      <td></td>
      <td><%= notification.alert_type%></td>
      <td><span class="rating-score"><% if (notification.alert_type == RATING_TYPE || notification.alert_type =='Restaurant Rating')  %><%= ratingGrade%></span><% end %></td>
    <%
      timezone = Location.find(notification.location_id.to_i).timezone
    %>
      <td><%= notification.created_at.in_time_zone(timezone).strftime("%Y-%m-%d ")%></td>
      <td><%= notification.created_at.in_time_zone(timezone).strftime("%l:%M %p")%></td>
      <td>
        <% if can? :deletenotification, Notifications %>
          <%= link_to image_tag('delete_icon.png'),{:controller=>'notification',:action=>'deletenotification', :id => notification.id,:resturant => @restaurant.id, :is_mycommunication => @is_mycommunication,:current_restaurant_id =>current_restaurant_id} ,:title=>"Delete" ,:remote=> false,:confirm => 'Are you sure you want to Delete?' %>

        <% end %>
      </td>
    </tr>
  <% end %>

      <% end %>
    <% else %>
      <tr><td><h5>No Result Found</h5></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <% end %>
  </tbody>
</table>
</div>
<% unless is_my_communication %>
<%= link_to "Send a Message", {:controller => "notification", :action=>"groupmessage" ,:restaurant => @restaurant.id, :alert=>'GM'}, :class=>"btn btn-primary new-message span2 floatright"%>
<% end %>
<div class="clear"></div>

<div class="span5" style="margin-top: 8px;">
  <div class="span2">
    <%= image_tag 'new1.png', :style=>"margin-left: 9px;"%>
    <h6 class="icon-rating-new">New</h6>
  </div>
  <div class="span2">
  </div>
  <div class="span2">
  </div>
</div>
<% if !@notifications.blank? %>
  <div class="floatright"><%= paginate @notifications %> </div>
<% end %>
<div class="clear"></div>


<% content_for :scripts do %>
  <script type="text/javascript">
  (function() {
    $(document).ready(function() {



      $("#weekly_report_send").on('click', function() {
        if($("#weekly_report_cb"). prop("checked") == true && $("#weekly_report_email").val()) {
          $.ajax({
              url: '/notification/sendweeklyprogress',
              data: {
                  weekly_progress_report: 1,
                  weekly_progress_email: $("#weekly_report_email").val(),
                  location_id: <%= @restaurant.id %>
              },
              error: function() {
              },
              success: function(data) {
                if(data.status == "success")
                    alert("The email has successfully sent.");
              },
              type: 'POST'
          });
        } else {
          alert('Please tick the checkbox and type the email address.');
        }
      });

    var COOKIE_COM_KEY = 'sort_communication';
    function getCookieSortList(cookieKey){
        var sortCondition = undefined;
        if (!jQuery.cookie(cookieKey)){
          sortCondition = [];
        } else{
          sortCondition = JSON.parse(jQuery.cookie(cookieKey));
        }
        jQuery.cookie(cookieKey, JSON.stringify(sortCondition));
        console.log("SORT COOKIE:", sortCondition);
        return sortCondition;
    }

    function updateSortListToUI(tableId, sortList){
        // console.log("UPDATE:", JSON.stringify([sortList]));
        if (sortList.length > 0) {
          $(tableId).trigger("sorton", [sortList]);
        }
    }

    function updateSortListData(sortList, sortDefault, index, cookieKey){
        var isUpdate = false;
        // console.log("IDX:", index);

        if (sortDefault && sortDefault.hasOwnProperty(index) && sortDefault[index] && sortDefault[index].hasOwnProperty('sorter') && sortDefault[index]['sorter'] == false){
            // console.log("This field is not sort");
        } else{
            if (sortList && sortList.length > 0){
              // console.log("SORT LIST LENGTH:", sortList.length);

              for (var i = 0; i < sortList.length; i++) {
                // console.log("SORT LIST 2:", sortList[i]);
                var sortItem = sortList[i];
                if (sortItem[0] == index){
                  var direction = sortItem[1];
                  if (direction == 0){
                    direction = 1;
                  } else{
                    direction = 0;
                  }
                  sortList[i] = [index, direction];
                  isUpdate = true;
                }
              };
            }
            if (!isUpdate){
              sortList = [];
              sortList.push([index, 0]);
            }
        }
        // console.log("SORT LIST:", JSON.stringify(sortList));
        jQuery.cookie(cookieKey, JSON.stringify(sortList));
        return sortList;
    }

     var sortDefault = {
            0:{
               sortInitialOrder: "desc",
              },
            1:{
               sortInitialOrder: "desc",
            },
            2:{
                sortInitialOrder: "desc",
              },
            3:{
               sortInitialOrder: "desc",
            },
            4:{
               sortInitialOrder: "desc",
            },
            5:{
               sorter: false,
            },
            6:{
               sorter: false,
            }
    };

    var sortList = getCookieSortList(COOKIE_COM_KEY);
    $("#myTable").tablesorter({
       headers: sortDefault,
      emptyTo: 'bottom',
      textExtraction:function(s){

         if ($(s).text().length == 0)
          {
            // console.log($(s));
            //$(s).text('testy');
              return "999999999";  // or some suitably large number!
          }
          else
          {
              if($(s).find('.rating-score').length > 0){
                var str = $(s).find('.rating-score').text().trim();
                if(str.length == 2){
                  var total = str.charCodeAt(0);
                   if(str.charCodeAt(1)==43){
                    total += 0.5;
                   }
                   else {
                    total -= 0.25;
                   }
                  //$(s).find('.rating-score').append(total);
                  return total;
                }
                //$(s).find('.rating-score').append(str.charCodeAt(0));
                return str.charCodeAt(0);
              }
              // console.log('aaa', s.innerHTML);
              return $(s).text();
          }
      }
        // console.log($(s).find('.image-rating-approve').length == 0)
        // if($(s).find('.image-rating-approve').length == 0) return $(s).text();
        // return $(s).find('.image-rating-approve').attr('alt');
    });
    updateSortListToUI("#myTable", sortList);
    $("#myTable thead th").on("click", function(){
      sortList = updateSortListData(sortList, sortDefault, $(this).index(), COOKIE_COM_KEY);
      updateSortListToUI("#myTable", sortList);
    });

    if($(".alert-success").length!=0){
      $(".alert-success").delay(3000).fadeOut();
    }
    if($(".alert-error").length!=0){
      $(".alert-error").delay(3000).fadeOut();
    }
    if($(".alert-warning").length!=0){
      $(".alert-warning").delay(3000).fadeOut();
    }
  });
})();
</script>
<% end %>
