<div class="span5">
  <h3>Change Password</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <!-- <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div> -->

    <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %> -->

    <!-- <div><%= f.label :username %><br />
    <%= f.text_field :username %></div> -->
    <%= f.hidden_field :skip_zip_validation, value: 1 %>
    <%= f.hidden_field :skip_credit_card_validation, value: 1 %>
    <%= f.hidden_field :skip_username_validation, value: 1 %>
    <%= f.hidden_field :skip_first_name_validation, value: 1 %>
    <%= f.hidden_field :skip_last_name_validation, value: 1 %>
    <div class="row-fluid top10">
      <%= f.password_field :current_password, :autofocus => true, :placeholder =>
          "Enter temporary password", :class=>"input-block-level", :class => 'span12' %>
    </div>

    <div class="row-fluid top10">
      <%= f.password_field :password, :autocomplete => "off", :placeholder =>
          "Enter new password", :class => 'span12' %>
    </div>

    <div class="row-fluid top10">
      <%= f.password_field :password_confirmation, :class => 'span12', :placeholder =>
          "Confirm new password" %>
    </div>

    <div>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "registration_edit" %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p> -->


