<!DOCTYPE html>
<html>
<head>
  <title></title>
    <style type="text/css">
        body {
            padding: 0 10px;
        }
        p.header {
          margin-left: 70px;
          display: inline-block;
        }
    </style>
</head>
<body>
  <div>
    <p>Congratulations, <%= @sharer %> has shared <%= @prize %> from <%= @restaurant_name %> with you. Just click the link to signup to BYTE and Visit <%= @restaurant_name %> to redeem your prize. <%= @link %></p>
  </div> 
</body>
</html>
