<h1> New account</h1>
<%= form_tag '/location_merchants', method: :post do %>
  <%= label_tag :birthday %>
  <%= text_field_tag :birthday %>
  <%= label_tag :account_number %>
  <%= text_field_tag :account_number %>
  <%= label_tag :routing_number %>
  <%= text_field_tag :routing_number %>
  <%= label_tag :location %>
  <%= select_tag :location_id, options_from_collection_for_select(current_user.restaurants, "id", "name") %>
  <%= submit_tag :submit %>
<% end %>
<h1> Existing account</h1>
<%= form_tag '/location_merchants', method: :post do %>
  <%= label_tag :merchant %>
  <%= text_field_tag :merchant_id %>
  <%= label_tag :location %>
  <%= select_tag :location_id, options_from_collection_for_select(current_user.restaurants, "id", "name") %>
  <%= submit_tag :submit %>
<% end %>
