<div class="manage_profiles row-fluid">
  <div class="user_profiles span7">
    <div class="row-fluid">
      <%= link_to "Create Profile", new_admin_profile_path, :class => "btn btn-profile" %>
    </div>
    <div class="row-fluid">
      <div class="dropdown">
        <button class="btn btn-profile dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Edit Profiles
          <span class="caret" style="border-top: 4px solid #ffffff;"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% @profiles.each do |p| %>
            <li><a href="<%=edit_admin_profile_path(p.id) %>"><%= p.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="create-profile-form row-fluid">

    </div>
  </div>
  <div class="published_content span5">
    <% @profileByCity.each_pair  do |city,data| %>
        <h4 class="profile_list_title"><%=city %></h4>
        <%= render 'profile_list', :data=>data%>
    <% end %>
  </div>
  <!-- <div class="spacer" style="height: 300px; margin-top:70px;"></div> -->
</div>
