<ul>
  <li>
    <%= link_to 'Packages', admin_packages_path  %>
  </li>
  <li>
    <%= link_to "Locations admin", admin_locations_path  %>
  </li>
  <li>
    <%= link_to "Categories admin", admin_categories_path  %>
  </li>
  <li>
    <%= link_to "Pages admin", admin_pages_path  %>
  </li>
  <li>
    <%= link_to "Plan Admin", admin_plans_path  %>
  </li>
  <li>
    <%= link_to "Pricing Admin", admin_prices_path  %>
  </li>
  <li>
    <%= link_to "User Package" , user_assign_package_admin_prices_path%>
  </li>
  <li>
    <%= link_to " MyAccounts Setting" , user_assign_package_admin_prices_path%>
  </li>
  <li>
    <%= link_to " Advanced App Features" , admin_settings_path%>
  </li>
  <li>
    <%= link_to " Home" , admin_profiles_path%>
  </li>
  <li>
    <%= link_to " Contest" , admin_contests_path%>
  </li>
  <li>
    <%= link_to " Fundraisers" , admin_fundraisers_path%>
  </li>
</ul>
