<% if @reward.errors.any? %>
  <div id="error_explanation">
    <h2><%= "#{pluralize(@reward.errors.count, "error")} prohibited this reward from being saved:" %></h2>
    <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form_for @reward, url: (@reward.persisted? ? restaurant_reward_path : restaurant_rewards_path), html: { multipart: true } do |f| %>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="span6">
        <%= f.label :prize_code %>
        <%= f.text_field :share_link %>
        <div style="clear: both"></div>
        <div class="redeem-qrcode-checkbox">
          <%= f.check_box :redeem_by_qrcode, tooltip: "make this reward can redeem by QRcode" %>
          <%#= f.label "redeem by QRcode" %>
        </div>
        <br/>
        <% if @reward.persisted? %>
          <div>
            <table class="qrcode">
              <% @qr.modules.each_index do |x| %>
                <tr>
                  <% @qr.modules.each_index do |y| %>
                    <% if @qr.dark?(x,y) %>
                      <td class="black"></td>
                    <% else %>
                      <td class="white"></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <%= link_to image_tag("PDF.png"), print_qr_code_restaurant_reward_path(@reward.location, @reward, format: "pdf"), method: :post, target: "_blank" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag @reward.photo, style: "height:150px; weight:150px;", id: "reward-photo" %>
      </div>
      <div class="span8">
        <%= f.label :photo %>
        <%= f.file_field :photo, id: "reward-photo-field" %>
        <%= f.hidden_field :photo_cache %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :available_from %>
        <%= f.text_field :available_from, value: @reward.available_from.try(:strftime, "%Y/%m/%d %H:%M"), class: "datetimepicker" %>
      </div>
      <div class="span6">
        <%= f.label :expired_until %>
        <%= f.text_field :expired_until, value: @reward.expired_until.try(:strftime, "%Y/%m/%d %H:%M"), class: "datetimepicker" %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :timezone %>
        <%= f.select :timezone, options_for_select(@timezones, @reward.timezone) %>
      </div>
      <div class="span6">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min: 0, value: (@reward.persisted? ? @reward.quantity : 0) %>
        <div class="help-block">* Set to 0 for Unlimited Prizes</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 6, maxlength: 140 %>
        <div class="help-block">* Max. 140 Characters</div>
      </div>
      <div class="span6">
        <% if @reward.persisted? %>
          <%= f.label "Prize Stats" %>
          <table class="table" style="width:220px;">
            <tr>
              <td style="line-height:25px;">Redeemed:</td>
              <td><%= @reward.stats %></td>
            </tr>
            <tr>
              <td style="line-height:25px;">UnRedeemed:</td>
              <td><%= unredeemed(@reward.quantity) %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :weekly_reward_email %>
        <%= f.text_area :weekly_reward_email, rows: 3 %>
      </div>
      <% if @reward.persisted? %>
        <div class="span6">
          <%= link_to "Send weekly prize report", send_weekly_prize_report_path(reward_id: @reward.id), method: :post, class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  $("#reward-photo-field").change(function(){
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $("#reward-photo").attr("src", e.target.result);
      };
      reader.readAsDataURL(this.files[0]);
    }
  });

  $(".datetimepicker").datetimepicker({
    minDate: 0
  });
</script>
