<div class="row-fluid support-mymenu" >
   <div class="accounts_form_errors_container">

   </div>
   <div class="row-fluid top20">
     <div class="span12">
        <div class="span12 title">
          <h6>Get Help the following ways</h6>
        </div>
        <div class="row-fluid top10">
          <div class="span4 contact">
           <h6>Email us</h6>
          </div>
          <div class="span5 top10">
           <%= label_tag(" support@mybyteapp.com",nil,:class=>'') %>
          </div>
          <div class="span3">
            <span class="reward-action-items"><%= link_to image_tag("/assets/mail_ico.png") %></span>
          </div>
        </div>
        <div class="row-fluid top10">
          <div class="span4 contact">
           <h6>Call us</h6>
          </div>
          <div class="span5 top10">
           <%= label_tag("1.800.888.8888",nil,:class=>'') %>
          </div>
          <div class="span3">
            <span class="reward-action-items"><%= link_to image_tag("/assets/callus_ico.png") %></span>
          </div>
        </div>
        <div class="row-fluid top10">
          <div class="span9 title">
             <h6>Chat with us</h6>
          </div>
          <div class="span3">
            <span class="reward-action-items"><%= link_to image_tag("/assets/livechat_ico.png") %></span>
          </div>
        </div>
     </div>
   </div>
 </div>