<div class="span5">
  <h3>Change Password</h3>
  <% if @result %>
    <%= form_for(@user_data, :url => update_password_accounts_path, :html => { :method => :put, :autocomplete => "off"}) do |f| %>
        <%= hidden_field_tag :user_id, @user_id %>
        <div class="row-fluid top10">
          <%= password_field_tag :billing_password, "", placeholder:"Password"%>
        </div>
        <div class="row-fluid top10">
          <%= password_field_tag :billing_cpassword, "", placeholder:"Confirm Password"%>
        </div>
        <div>
          <%= link_to "Cancel", accounts_path, :class => "btn btn-cancel" %>
          <%= f.submit "Save", :class => "btn btn-primary" %>
        </div>
    <% end %>
  <% else %>
    <h4>Token is not valid.</h4>
  <% end %>
</div>
