<div class="bread-crum">
  MyAccount Settings
</div>

<div class="row-fluid">
  <div class="span12">
     <div id="modal_holder">

     </div>
     <div class="row-fluid">
       <div class="span6">
       <% if !current_user.restaurant_manager? %>
         <div class="address_form_block_container" id="accounts_form_container">
           <%= render :partial=>"accounts/address_and_contact_form" %>
         </div>
         <div class="package_form_block_container top10" id="accounts_form_container">
            <%= render 'subscriptions' %>
         </div>
         <div class="billings_form_block_container top10">
           <%= render :partial=>"billings" %>
         </div>
          <% if current_user.app_service_id != 1 %>
             <div class="roles_form_block_container top10">
               <%= render :partial=>"roles" %>
             </div>
             <% end %>
         <% end %>
          <div class="top10">
            <%= render :partial=>"features" %>
         </div>
       </div>
     </div>
  </div>
</div>
